.myBG {
    /* height: 100vh;
    background: url('../assets/bg/bioskop.webp');
    /* area background: ; */
    background-size: cover */
}
.intro {
    height: 300px;
    display: flex;
    justify-content: end;
    align-items: end;
}
.title {
    font-size: 3rem;
    font-weight: 800;
    line-height: 1;
    text-shadow: 2px 2px rgb(109, 108, 108);
    letter-spacing: 4px;
}
.horor {
    height: auto;
    background: url('../assets/bg/abstrak.jpg');
    /* area background: ; */
    background-size: cover;
}
.superhero {
    height: auto;
    background: url('../assets/bg/abstrak.jpg');
    /* area background: ; */
    background-size: cover;
}
.anime {
    height: auto;
    background: url('../assets/bg/abstrak.jpg');
    /* area background: ; */
    background-size: cover;
}
.bar {
    height: 100px;
}
.movieWrapper {
    /* display: block; */
}
.movieImage {
    height: 230px;
    width: 200px;
    margin: 5px;
    padding: 2px;
    transition: transform 0.5s;
}
.movieImage:hover{
    transform: translateY(-10px);
}
.images {
    height: auto;
    border-radius: 10px;
}
.foter {
    
}
.u{
    margin-right: auto;
}
.b {
    background: none;
    border: none;
}